@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: rgb(31, 41, 55);
}

[data-theme="dark"] {
  --background: rgb(31, 41, 55);
  --foreground: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

::-moz-selection {
  background-color: yellow;
  color: black;
}

::selection {
  background-color: yellow;
  color: black;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
  background-color: white;
  width: 50px !important;
  height: 140px !important;
  margin-left: 0 !important;
  position: absolute !important;
  top: 50% !important;
  transform: translate(0%, -50%) !important;
  @media only screen and (max-width: 1000px) {
    width: 40px !important;
    height: 120px !important;
    &::after {
      font-size: 25px !important;
    }
  }
  @media only screen and (max-width: 550px) {
    width: 30px !important;
    height: 70px !important;
    &::after {
      font-size: 20px !important;
    }
  }
}

.swiper-button-prev {
  left: 0% !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper-button-next {
  right: 0% !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--background) !important;
}

.content:hover .overlay {
  height: 100%;
}
