@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: rgb(31, 41, 55);
}

[data-theme="dark"] {
  --background: rgb(31, 41, 55);
  --foreground: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
